<h1>
  Welcome to {{ title }}!
</h1>
<!-- <a [routerLink]="['/home']">Home</a>
<a [routerLink]="['/top']">Top</a>
<a [routerLink]="['/left']">left</a>
<a [routerLink]="['/right']">Right</a>
<a [routerLink]="['/bottom']">Bottom</a> -->

<!-- <div class="top">
  <app-top></app-top>
</div>
<div class="left">
  <app-left></app-left>
</div>
<div class="home">
  <app-home></app-home>
</div>
<div class="right">
  <app-right></app-right>
</div>
<div class="bottom">
  <app-bottom></app-bottom>
</div> -->
<router-outlet></router-outlet>